<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$$$$</title>
</head>
<body>
    <h1>Create new blog</h1>
    <p>
        <a href="/">Back to list blog</a>
    </p>

    <form th:action="@{/edit}" th:object="${blog}" method="post">
        <table>
            <tr>
                <td>Title</td>
                <td>
                    <textarea rows="2" cols="20" th:field="*{title}"></textarea>
                </td>
            </tr>
            <tr>
                <td>Content</td>
                <td>
                    <textarea rows="4" cols="50" th:field="*{content}"></textarea>
                </td>
            </tr>
            <tr>
                <td>Category name</td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>